<div>
  <table class="border-separate p-5 px-10">
      <thead>
          <tr>
              <th class="w-28"></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        
          <tr>
              <td class="">タイトル：</td>
              <td class=""><input type="text" id="title" v-model="title" class=""></td>
          </tr>
          <tr>
              <td class="">分類：</td>
              <td class="">
                <select id="category" v-model="category">
                    <option v-for="a_category in categories_list" v-bind:value="a_category.id">
                        {{a_category.category}}
                    </option>
                </select>
              </td>
          </tr>
          <tr>
              <td class="">説明：</td>
              <td class=""><textarea id="title" v-model="description" class="" cols="50" rows="2" data-testid="ticket-description"></textarea></td>
              <td data-testid="maxLengthMessage" v-bind:style="[messageFontSwitch]">{{maxLengthValidation}}</td>
          </tr>
          <tr>
              <td class="">ステータス：</td>
              <td class="">
                <select id="status" v-model="status">
                    <option v-for="a_status in status_list" v-bind:value="a_status.id">
                        {{a_status.status}}
                    </option>
                </select>
              </td>
          </tr>
          <tr>
              <td class="">終了予定日：</td>
              <td class=""><input type="date" id="deadlinedate" v-model="deadlinedate"></td>
          </tr>
        
      </tbody>
  </table>
  <div>
      <button @click="submit">保存</button>
  </div>
</div>
